<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
  <h1>レベル</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @levelnames.each do |levelname| %>
        <tr>
          <td><%= levelname.code %></td>
          <td><%= levelname.name %></td>
          <td><%= link_to '', edit_levelname_path(levelname), class: "fa fa-pencil-square-o" %> | <%= link_to '', levelname, method: :delete, data: { confirm: '削除しますか？管理者に確認してください。' }, class: "fa fa-trash" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to '新しく作る', new_levelname_path, class: 'btn btn-default btn-block' %>
  <%= link_to '分野設定', fields_path, class: 'btn btn-default btn-block' %>
</div>
