<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Content</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.level %></td>
        <td><%= project.content %></td>
        <td><%= project.level_id %></td>
        <td><%= link_to 'Show', field_level_project_path(@field, @level, project) %></td>
        <td><%= link_to 'Edit', edit_field_level_project_path(@field, @level, project) %></td>
        <td><%= link_to 'Destroy', field_level_project_path(@field, @level, project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_field_level_project_path %>
