<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @project.level %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>Level:</strong>
  <%= @project.level_id %>
</p>

<%= link_to 'Edit', edit_field_level_project_path(@field, @level, @project) %> |
<%= link_to 'Back', field_level_projects_path %>
