<%= form_for([@field, @level]) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :field_id %>
  </div>
  <div class="field">
    <%= f.label :Level %><br>
    <%= f.collection_select :levelname_id, Levelname.all, :id, :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :ポジション %><br>
    <%= f.text_field :name, class: 'form-control', rows: 5 %>
  </div>
  <div class="field form-inline">
    <%= f.label :タリフ %><br>
    <%= f.number_field :mintariff, class: 'form-control' %>～<%= f.number_field :maxtariff, class: 'form-control' %>万円
  </div>
  <div class="field">
    <%= f.label :スキル要件 %><br>
    <%= f.text_area :skill, class: 'form-control', rows: 5 %>
  </div>
  <div class="field">
    <%= f.label :言語、ツール %><br>
    <%= f.text_area :tool, class: 'form-control', rows: 5 %>
  </div>
  <div class="field">
    <%= f.label :推奨資格 %><br>
    <%= f.text_area :certificate, class: 'form-control', rows: 5 %>
  </div>
  <div class="actions">
    <%= f.submit '決定', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
