<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <% @fields.each do |field| %>
    <li role="presentation" class="<%= 'active' if current_page?(field_levels_path(field)) %>"><%= link_to field.name, field_levels_path(field) %></li>
  <% end %>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Level</th>
      <th>タリフ</th>
      <th><%= @field.name %></th>
      <th>代表的なスキル要件</th>
      <th>代表的な言語、ツール</th>
      <th>推奨資格</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.levelname.name %></td>
        <td><%= level.mintariff %>～<%= level.maxtariff %>万円</td>
        <td><%= level.name %></td>
        <td><%= simple_format(h(level.skill)) %></td>
        <td><%= simple_format(h(level.tool)) %></td>
        <td><%= simple_format(h(level.certificate)) %></td>
        <td><%= link_to 'Show', field_level_projects_path(@field, level) %></td>
        <td><%= link_to 'Edit', edit_field_level_path(@field, level) %></td>
        <td><%= link_to 'Destroy', field_level_path(@field, level), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Level', new_field_level_path %>
