<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @level.field %>
</p>

<p>
  <strong>Height:</strong>
  <%= @level.height %>
</p>

<p>
  <strong>Mintariff:</strong>
  <%= @level.mintariff %>
</p>

<p>
  <strong>Maxtariff:</strong>
  <%= @level.maxtariff %>
</p>

<p>
  <strong>Name:</strong>
  <%= @level.name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @level.skill %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @level.tool %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @level.certificate %>
</p>

<p>
  <strong>Field:</strong>
  <%= @level.field_id %>
</p>

<%= link_to 'Edit', edit_field_level_path(@field, @level) %> |
<%= link_to 'Back', field_levels_path %>
